<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список направления развития</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Направления развития</h1>
    <div th:each="el, index : ${allEducationDirections}" class="alert alert-info mt-2">
        <h1 th:text="${index.index + 1 + '. ' + el.ageGroup.name + '. ' + el.educationArea.name + '. ' + el.name}"/>
        <a th:href="'/manager/allEducationDirections/educationDirection-details/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div class="pagination justify-content-start">
        <div class="d-flex justify-content-start flex-wrap">
            <a th:href="'/manager/mainAllEducationDirections'" class="btn btn-secondary my-auto">Назад</a>
            <a th:href="'/manager/addEducationDirection'" class="btn btn-success mx-1">Добавить направления развития</a>
        </div>
    </div>
</div>
<div th:insert="blocks/footer :: footer"></div>
<script th:inline="javascript">
    var bool = /*[[${deleteError}]]*/
    if(bool){
        alert("Не возможно удалить направление развития, пока на нее ссылаются другие сущности");
    }
</script>
</body>
</html>