<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список дипломов и грамот</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <script type="text/javascript" src="/codebase/calendar.js?v=7.1.4"></script>
    <link rel="stylesheet" href="/codebase/calendar.css?v=7.1.4">
    <link rel="stylesheet" href="/common/index.css?v=7.1.4">
    <link rel="stylesheet" href="/common/calendar.css?v=7.1.4">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Дипломы и грамоты</h1>
    <div th:each="el, index : ${allDiplomas}" class="alert alert-info mt-2">
        <h1 th:text="${index.index + 1} + '. ' + ${el.text}"/>
        <a th:href="'/user/allDiplomas/diploma-details/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div class="pagination justify-content-start">
        <div class="d-flex justify-content-start flex-wrap">
            <a th:href="'/user'" class="btn btn-secondary my-auto">Назад</a>
            <a th:href="'/user/addDiploma'" class="btn btn-success mx-1">Добавить диплом</a>
            <!--            <a th:href="'/user/diploma-report'" class="btn btn-success mx-1">Скачать портфолио</a>-->
        </div>
    </div>
    <div class="alert alert-info mt-2 text-center">
            <h4>Портфолио</h4>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <br>
                    <h5>Выберите период</h5>
                </div>
                <div class="col-sm-3">
                    <div class="dhx_calendar-result">
                        <!--                Невидимые поля для хранения даты -->
                        <input type="text" class="form-control" name="resultFromInput" id="resultFromInput" hidden>
                        <input type="text" class="form-control" name="resultToInput" id="resultToInput" hidden>
                    </div>
                </div>
                <div class="col-sm-6">
                    <section class="dhx_sample-container"
                             style="-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;">
                        <div class="dhx_sample-container__widget" id="calendar1"
                             style="margin-right: 0px; -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end">
                        </div>
                        <div class="dhx_sample-container__widget" id="calendar2"
                             style="margin-right: 0px; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start">
                        </div>
                    </section>
                </div>
                <form class="col-sm-12 text-center">
                    <div>
                        <br>
                        <input type="text" class="form-control" name="resultFromInput" id="resultFromInput2" hidden>
                        <input type="text" class="form-control" name="resultToInput" id="resultToInput2" hidden>
                        <button type="submit" class="btn btn-primary" formaction="/user/diploma-report"
                                formmethod="post">Скачать портфолио
                        </button>
                    </div>
                </form>
            </div>
        </div>
    <br>
    <br>
    <br>
</div>
<div th:insert="blocks/footer :: footer"></div>
<script th:inline="javascript">
    document.getElementById("resultFromInput").value = /*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/;
    document.getElementById("resultToInput").value = /*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/;

    document.getElementById("resultFromInput2").value = /*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/;
    document.getElementById("resultToInput2").value = /*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/;

    var calendar1 = new dhx.Calendar("calendar1", {
    css: "dhx_widget--bordered", dateFormat:"%Y-%m-%d",
    value: (/*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/),
    disabledDates: function (date) { let max = new Date(); return (date>max)}
    });

    var calendar2 = new dhx.Calendar("calendar2", {
    css: "dhx_widget--bordered", dateFormat:"%Y-%m-%d",
    value: (/*[[${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]*/),
    disabledDates: function (date) { let max = new Date(); return (date>max)}
    });

    calendar1.link(calendar2);
    calendar1.events.on("change", function (date) {
    document.querySelector("#resultFromInput").value = calendar1.getValue();
    });

    calendar1.link(calendar2);
    calendar1.events.on("change", function (date) {
    document.querySelector("#resultFromInput2").value = calendar1.getValue();
    });

    calendar2.events.on("change", function (date) {
    document.querySelector("#resultToInput").value = calendar2.getValue();
    });

    calendar2.events.on("change", function (date) {
    document.querySelector("#resultToInput2").value = calendar2.getValue();
    });



</script>
</body>
</html>