<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h5 sec:authorize="isAuthenticated()" class="my-0 mr-md-auto font-weight-normal" onclick="window.location.href = '/profile'"
            role="button"><a sec:authentication="principal.fullName"/>
<!--            <a sec:authorize="hasRole('ROLE_USER')"><br>Группа: </a>-->
<!--            <a sec:authorize="hasRole('ROLE_USER')" sec:authentication="principal.group.groupName"></a></h5>-->
            <a sec:authorize="hasRole('ROLE_USER')"></a></h5>
        <h5 sec:authorize="!isAuthenticated()" class="my-0 mr-md-auto font-weight-normal">Гость</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a sec:authorize="!isAuthenticated()" class="p-2 text-dark" href="/">Главная</a>
            <a sec:authorize="!isAuthenticated()" class="btn btn-outline-primary" href="/login">Вход</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')"  class="p-2 text-dark" href="/admin">Администрирование</a>


            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager">Рабочая область</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allUsers">Воспитатели</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allGroups">Группы</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allCabinets">Кабинеты</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allAgeGroups">Возрастные группы</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allEducationAreas">Образовательные области</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/mainAllEducationDirections">Направления развития</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/typeMaterial">Методические материалы</a>
            <a sec:authorize="hasRole('ROLE_MANAGER')"  class="p-2 text-dark" href="/manager/allLessons">Расписание</a>



            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user">Рабочая область</a>
            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user/group-details">Группа</a>
            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user/allChildren">Воспитаники</a>
            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user/allEducationAreas">Педагогический мониторинг</a>
            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user/allDiplomas">Дипломы</a>
            <a sec:authorize="hasRole('ROLE_USER')"  class="p-2 text-dark" href="/user/allMaterials">Методические материалы</a>

        </nav>
        <form th:action="@{/logout}" method="post">
            <input sec:authorize="isAuthenticated()" type="submit" class="btn btn-outline-primary" value="Выход"/>
        </form>
    </div>
</div>